@font-face {
  font-family: 'nf-icon';
  src: url('~@/assets/fonts/nf-icon-v1-93.eot');
  src: url('~@/assets/fonts/nf-icon-v1-93.eot?#iefix') format('embedded-opentype'), url('~@/assets/fonts/nf-icon-v1-93.woff') format('woff'), url('~@/assets/fonts/nf-icon-v1-93.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}