@import './normalize.scss';
@import './fonts.scss';
@import './icon.scss';

body, html {
  background: #141414;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica,Arial,sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

#netflix {
  @import './components/navbar.scss';
}